= form_for [version, review] do |f|
  = hidden_field_tag :version, version.number
  .page-menu
    = link_to 'continue editing', [version, review], class: 'page-menu-button'
    = submit_tag 'save your review', class: 'page-menu-button'

  .page-content
    #doc-content.viewable-doc-content= render_diff(review_diff)
