= form_for [doc, review] do |f|
  .page-header
    .page-header-content
      .logo writeflo
      .page-actions
        = submit_tag 'save your review'
        = submit_tag 'preview your edits', name: 'preview'
        = link_to 'start a new writeflo', new_doc_path

  .page-content
    .editable-doc-content= f.text_area :content
