= form_for [version, review] do |f|
  = hidden_field_tag :version, version.number
  .page-menu-left
    %p
      You've been asked to review this writeflo.
      Make your edits inline, and the author will
      see the changes.
    = submit_tag 'preview your edits', name: 'preview'
    = submit_tag 'save your review'

  .page-content
    .editable-doc-content= f.text_area :content, id: 'doc-content'
